/* hero text */

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.text-overlay {
  width: 100%;
}

/* project button */

button {
  cursor: pointer;
}

/* project panel */

.hidden {
  display: none;
}
